<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VitalGlow - Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/authPages.css') }}?v={{ css_version }}">
</head>
<body>
  <nav>
    <a style="text-decoration:none;color:white;" href="{{ url_for('default.home') }}"><h1>VitalGlow</h1></a>
    <a href="{{ url_for('auth.signup') }}"><button class="nav-btn">Sign Up</button></a>
  </nav>

  <main>
    <form class="login-form">
      <h2>Login to Your Account</h2>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>
      <button type="submit">Login</button>
    </form>
  </main>

  <footer>
    © 2025 VitalGlow | About Us | Contact Us | Terms & Privacy
  </footer>
</body>
</html>
